* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Alegreya', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
  background-image: url('depositphotos_130651094_original-600x400_g_90.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
 /*max-width: 720vw;*/
  width: 100%;
  position: relative;
  z-index: 1;
  
}

.card {
  aspect-ratio: 13.5 / 9;
  background: rgba(255, 255, 255, 0.82) url('5646910.svg') no-repeat center center;
  background-size: 100vw;
  padding: 0vw;
  border-radius: 1vw;
  color: #2c3e50;
  display: flex;
  flex-direction: column;     /* ← КЛЮЧЕВОЕ СВОЙСТВО */
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 3vw;
}

.card h1, .card h2 {
  font-family: 'Alegreya Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 5.0vw;
  margin: 0;
}


.label {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 6.0vw;
  margin: 0;
}

/* Стили для временных меток */
.time-stamp {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 700;
  font-size: 4.0vw;
  margin: 0;
}

/* Стили для описательного текста */
.text {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 3.0vw;
  margin: 0;
}

a.text {
  text-decoration: none;
  color: #000000;
}

.content{
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 4.0vw;
  margin: 0;
}

.event-date{
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 5.0vw;
  margin: 0;
}

.names{
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 5.0vw;
  letter-spacing: 1vw;
  margin: 0;
}

.event-time {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 600;
  font-size: 3.0vw;
  margin: 0;
}

.rsvp-button {
  display: inline-block;
  margin-top: 8vw;
  padding: 2vw 6vw;
  background-color: #8FBC8F;
  color: white;
  text-decoration: none;
  border-radius: 5vw;
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 4.0vw;
  margin: 0;
  transition: background-color 0.3s ease;
}

.rsvp-button:hover {
  background-color: #71368a;
}

}